# For local computer
# redis
# pika
# PyYAML
# torch==2.4.1+cu118
# torchvision==0.19.1+cu118
# torchaudio==2.4.1+cu118
# --find-links https://download.pytorch.org/whl/cu118
# timm == 1.0.3
# transformers
# opencv-python
# pandas
# scikit-learn
# albumentations
# optuna
# python-dotenv

# For GPU Server
redis
pika
PyYAML
torch>=2.4.0
torchvision>=0.19.0
torchaudio>=2.4.0
timm>=1.0.3,<2.0.0
transformers
opencv-python-headless
pandas
scikit-learn
albumentations
optuna
python-dotenv

# use this pip install -r requirements.txt --no-cache-dir --upgrade to install one lines.